body{
    font-family: Arial;
    background-color: rgb(186, 186, 186);
}
form{
    display:flex;
    flex-direction:column;
    width:300px;
    margin:0 auto;

}
form label {
    color:green;
    font-weight: bold;
}
form input[type="text"], form input[type="password"]{
    padding:10px;
    margin-bottom:10px;
    border-radius:5px;

}
form input[type="submit"]{
    padding:10px;
    background-color:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.valid{
    color:green;
}
.invalid{
    color:red;
}